:root {
  --font-sans: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI",
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  background-color: white;
  font-family: var(--font-sans);
  margin: 4;
  padding: 10px;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: rgb(3, 7, 18); /* gray-950 equivalent */
    color-scheme: dark;
  }
}
